body {
  padding: 0;
  margin: 0;
  color: white;
  overflow: hidden;
}
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}
.page a {
  padding: 8px 20px;
  background-color: black;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
#page-1 {
  background: url("Colosseum-Rome.webp") no-repeat center center/cover;
}
#page-2 {
  background: url("/Parthenon-Acropolis-Athens.webp") no-repeat center
    center/cover;
}
#page-3 {
  background: url("/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg") no-repeat
    center center/cover;
}
#page-4 {
  background: url("/HgDjfQuhdcoBKL7BDLSyW5.jpg") no-repeat center center/cover;
}
#page-5 {
  background: url("/image_processing20240117-2-x5guao.jpg") no-repeat center
    center/cover;
}
